<!DOCTYPE HTML>
<html lang=en>
	<head>
		<meta charset="utf-8">
		<title>About</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/CSSFiles/styleIndex.css">
	</head>
	<body>
		<% include ./partials/header.ejs %>
		<main>
            <h2> Create new events and Check out Connections!</h2>
            <h4> Welcome to Swim Club at UNCC</h4>
                
        </main>
		<% include ./partials/footer.ejs %>
    </body>
</html>