<!DOCTYPE HTML>
<html lang=en>
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Contact</title>
		<link rel="stylesheet" type="text/css" href="/CSSFiles/styleIndex.css">
	</head>
	<body>
		<% include ./partials/header.ejs %>
		<main>
            <table>
                <tr>
                <td>Phone:</td><td>777-777-7777</td>
                </tr>
                <tr>
                <td>Email:</td><td>swimclub@uncc.edu</td>
                </tr>
                <tr>
                <td>Address:</td><td>University City Blvd, Charlotte</td>
                </tr>
            </table> 
        </main>
		<% include ./partials/footer.ejs %>
    </body>
</html>