<!DOCTYPE HTML>
<html lang=en>
	<head>
		<meta charset="utf-8">
		<title>Home</title>
		<link rel="stylesheet" type="text/css" href="/CSSFiles/styleIndex.css">
	</head>
	<body>
		<% include ./partials/header.ejs %>
		<main>
			<h1 class="heading">Welcome to UNCC Swimming Club</h1>
			<br>
			<br>
			<div class="description">
				Ready to Take Your Swimming to the Next Level?<br>
				This Swim Club is here to take your swimming and sports experience to competitive level. Swim Club will help you to 
				exccel and hone your swimming skills. Club has diverse candidates as member who are competitive Swimmers, Athletes, and beginer.
				We are very proud to broadcast our Lifeguard team.   
				<br>
				If you want to ride on new Adventures, Sign up or login if you are already a member!
			</div>
		</main>
		<% include ./partials/footer.ejs %>
	</body>
</html>